@import "tailwindcss";

@theme {
  --font-sans: "Figtree", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
